<a href="https://colab.research.google.com/github/minikittylovecooking/cook.github.io/blob/master/MFA_JunCode_CompoundName_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#abbreviation code names for tracers, update as needed
Tracer_abb= {
    '1-2_13C_glc':'__1C',
    'U_13C_glc':'__2C'

}
print(Tracer_abb['1-2_13C_glc'])

__1C

In [4]:
#abbreviation code names for metabolites, udpate according to MFA map names and El-Maven outputs
#current is based on Yihui's core model's naming convention
#Useful command to update multiple keys with same value : dict.update(dict.fromkeys)
CoreC_abb= {
    'glucose-6-phosphate':"G6P",
    'glucose-1-phosphate':"G6P",
    'phosphoenolpyruvate':"PEP",
    'pep':"PEP",
    'citrate':"CitICit",
    'a-ketoglutarate':"aKG",
    'succinate':"Succ",
    'fumarate':"Fum",
    'glutamate':"Glu",
    'glutamine':"Gln",
    'alanine':"Ala",
    'lysine':"Lys",
    'serine':"Ser",
    'glycine':"Gly",
    'methionine':"Met",
    'aspartate':"Asp",
    'aspartic Acid':"Asp",
    'orotate':"OROT",
    'ATP':"ATP"
}
print(CoreC_abb)

{'glucose-6-phosphate': 'G6P', 'glucose-1-phosphate': 'G6P', 'phosphoenolpyruvate': 'PEP', 'pep': 'PEP', 'citrate': 'CitICit', 'a-ketoglutarate': 'aKG', 'succinate': 'Succ', 'fumarate': 'Fum', 'glutamate': 'Glu', 'glutamine': 'Gln', 'alanine': 'Ala', 'lysine': 'Lys', 'serine': 'Ser', 'glycine': 'Gly', 'methionine': 'Met', 'aspartate': 'Asp', 'aspartic Acid': 'Asp', 'orotate': 'OROT', 'ATP': 'ATP'}

Remember to lower all metabolite name case with 'str.lower' command to process the data

In [49]:
import pandas as pd
#route:r'Path where the Excel file is stored\File name.xlsx'
#di: a dictionary that map abbreviations to metabolite names
#In case you want to retain the existing variables for non-matches: df['col1'].map(di).fillna(df['col1'])
#tracer is also a dictionary but you need to specify the key
def abb(route,di,tracer):
  df = pd.read_excel (route,sheet_name='Normalized')
  df['Compound'] = df['Compound'].str.lower()
  df['Compound'] = df['Compound'].str.replace(r" \(.*\)","")
  df['Compound'] = df['Compound'].map(di)
  df= df[df['Compound'].notnull()]
  df['Compound'] = df["Compound"]+tracer
  df['Compound'].where(~df['Compound'].duplicated(),'',inplace=True)
  df=df.drop(columns=['Label'])
  df=df.loc[:,~df.columns.str.contains('^pblk', case=False)]
  df.to_excel(route[:-5]+"MFAready.xlsx",header=False,index=False)
  return

route='/content/20200116_Yl_13Cformate_withGlycerol_metabolomics.xlsx'
abb(route,CoreC_abb,Tracer_abb['1-2_13C_glc'])

720     False
721      True
722      True
723      True
724      True
        ...
1365     True
1366     True
1367     True
1368     True
1369     True
Name: Compound, Length: 74, dtype: bool

In [0]:
df

     Compound  ...  X20200116_Yl_12Cglycerol.13Cform_1.1_YNB_test_3
720   G6P__1C  ...                                         1.000000
721   G6P__1C  ...                                         0.000000
722   G6P__1C  ...                                         0.000000
723   G6P__1C  ...                                         0.000000
724   G6P__1C  ...                                         0.000000
...       ...  ...                                              ...
1365  Met__1C  ...                                         0.608477
1366  Met__1C  ...                                         0.114900
1367  Met__1C  ...                                         0.000000
1368  Met__1C  ...                                         0.000000
1369  Met__1C  ...                                         0.000000

[74 rows x 4 columns]